.WatchMovie{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    background-color: rgba(0, 0, 0, 0.925);
    height: 70vh;
    color: #fff;
    border-top: 5px solid rgba(255, 255, 255, 0.562);
    border-bottom: 5px solid rgba(255, 255, 255, 0.575);
}
.WatchMovie-left{
    height: 30vh;
    width: 40%;
    
    text-align: center;
    margin:10px ;
    padding: 10px;
    background-color: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(10px);
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.4);
}
.WatchMovie-left h1{
    font-size: 50px;
    margin-top: 10px;
}
.WatchMovie-left h2{
    font-size: 30px;
    margin-top: 20px;
}

.WatchMovie-right{
    position: relative;
}
.WatchMovie-right .card-video{
    position: absolute;
    left: 0;
    height: 220px;
    margin-top: 50px;
    margin-left: 120px;
    z-index: 9999;
}
.WatchMovie-right img{
    z-index: -9999;
}