.Movieslist{
    
    padding: 30px;
    
}
.Movieslist-item{
    margin-top: 100px;
    display: flex; 
     text-align: justify;
    margin: 50px;
    align-items: center;
    gap: 40px;
   border-radius: 20px;
    padding: 20px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.5);
    background-color: #eee;


}
.Movieslist-item:hover{
    color: rgba(255, 217, 0, 0.637);
}
.Movieslist-item img{
    height: 400px;
    width: 300px;
    border-radius: 10px;
}
.h1 h1{
    text-align: center;
    margin-top: 20px;
    font-size: 50px;
    font-weight: bold;
    color: red;
    
    
}
.Movieslist-item:hover{
    transform: scale(0.9) ;
}
.Movieslist-text  span{
    
    font-size: 40px;
}
